.test-div {
    background: lavender;
    padding: 20px;
    margin: 20px;

}

.test-div {
    color: blue
}

.test-div .special {
    background: red;
}

.test-div h2 {
    color: plum;

}

.test-div:hover {
    background: pink;
}

h1,
h2,
{
text-decoration: underline;
}

#house {
    display: flex;
    flex-wrap: wrap;
}

#house.div {
    width: 400px;
}

#split {
    display: flex;
    flex-direction: column;
}