BODY { 
    background: #fbd9e6; 
    padding: 50px;
    color:azure;
}

h1 {
    color: #eb3146; 
    font-family: andale mono, monospace;
}

b {
    color: white;
}

.favorite-list {
    height: 50px;
    overflow: hidden;
    width: 525px;
    padding: 10px;
    background: rgb(239, 92, 185);
}

.read {
    height: auto;
    overflow: visible;
}

.favorite-list span {
    cursor: crosshair;
    color: rgb(231, 203, 243);
}

#button {
    position: relative ;
    background-color: rgba(248, 159, 189, 0.948);
    border-radius: 50px;
    color: rgb(241, 0, 0);
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: crosshair;
}

#button:hover {
    background-color: #f17bc6;
    color: rgb(134, 4, 127)
}

#thinking {
    color: #eb3146; 
    font-family: brush script mt, monospace;
    font-size: 30px
}